<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small><a href="http://www.inathan.us" target="_blank">Ghostium Theme</a> by <a href="http://twitter.com/0xv" target="_blank">@0xv</a></small></p>
  <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
