<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small><a href="http://www.inathan.us" target="_blank">Theme</a> by <a href="http://twitter.com/KsatriaBengi" target="_blank">@KsatriaBengi</a></small></p>
</footer>
